body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container h1 {
    background: black;
    color: white;
    text-align: center;
    padding: 7px;
    border-radius: 7px;
    margin: 7px 0;
}
table.table {
    margin-top: 15px;
}
.detail h4 {
	margin: 14px 0;
	text-align: center;
    border-bottom: 1px solid;
}
.detail img {
	margin: 0 7px;
}
.spinner-border.text-primary {
	margin-top: 10px;
	font-size:30px;
}
#language.hidden {
	display: none;
}

.table td {
	width: 25%;
}

.detail.container {
    background: #f1f1f1;
    border-radius: 7px;
}

	.buttons {
		background:none;
		border:none;
		color: #666;
		cursor: pointer;
		font-weight: 100;
	}
	.buttons.active {
		font-weight: bold;
		text-decoration: underline;
	}